.providers-list {
    background-color: var(--theme-base-bg);
}

.provider-row {
    margin-top: 12px;
    margin-bottom: 12px;
}

.events-list {
    background-color: var(--theme-base-bg);
}

.year-view-year-label {
    font-size: 36px;
    font-weight: bold;
    color: var(--accent-bg-color);
}

.year-view-month-cell-month-label {
    /* font-size: 10px; */
}

.year-view-month-cell-day-label {
    font-size: 8px;
}
